{% extends 'base.html' %}

{% block content %}
About page
<div class="about-flex-banner">
  <div class="about-flex-item">
    <h1>Who we are</h1>
    <h2>We will make your event blossum</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati culpa incidunt ratione velit, exercitationem
      dolores tempore, vel similique laudantium harum dolorem cupiditate! Doloremque quis temporibus debitis autem!
      Quam, dolorem nesciunt.</p>
  </div>
  <img src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1591820610/2_2018-Fox-Network-Upfront_g8jxwy.jpg'
    alt="flower image" class="about-main-img" />
</div>

<div class="about-details-flex">
  <div class="details-flex-item">
    <img class="detail-img"
      src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1591820610/2_2018-Fox-Network-Upfront_g8jxwy.jpg' />
    <h5>Fast delivery</h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla unde, fuga eum, facere aperiam officiis incidunt
    </p>
  </div>

  <div class="details-flex-item">
    <img class="detail-img"
      src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1591820610/2_2018-Fox-Network-Upfront_g8jxwy.jpg' />
    <h5>Fast delivery</h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla unde, fuga eum, facere aperiam officiis incidunt
    </p>
  </div>

  <div class="details-flex-item">
    <img class="detail-img"
      src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1591820610/2_2018-Fox-Network-Upfront_g8jxwy.jpg' />
    <h5>Fast delivery</h5>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla unde, fuga eum, facere aperiam officiis incidunt
    </p>
  </div>

</div>

{% endblock %}