{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Intro -->
<div id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-right">
        <h1 class="home-heading wow fadeInUp animated">You can find an extensive collection of our work on instagram and facebook, <span>see a little taster below of how to spice up your event!</span></h1>

      </div>
    </div>
  </div>
</div>
<!-- /Intro -->

<div class="container">
  <div class="row">
    <div class="line-symbol"></div>
  </div>
</div>


 <!-- Masonry -->
 <div class="container grid">
  <div class="row">
  
      <div id="photos"> 
           <div class="thumbs">
            <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/image1.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>TRES SIMPLE </p>
         <p>BRAND + PRINT</p>
       </div>
     </figcaption>	
                 </a>		
   </figure>
           </div>
           <div class="thumbs">
              <div class="thumbs">
             <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/image1.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>SIMPLES</p>
         <p>BRAND + PRINT + WEB</p>
       </div>
     </figcaption>	
                 </a>		
   </figure>
             </div>
           </div>
           <div class="thumbs">
             <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/image1.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>MINIMALISM</p>
         <p>BRAND + VIDEO</p>
       </div>
     </figcaption>
                 </a>	
   </figure>
           </div>
          <div class="thumbs"> 
              <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/image1.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>SIMPLE </p>
         <p>BRAND + WEB</p>
       </div>
     </figcaption>	
                 </a>		
   </figure>
           </div>
           <div class="thumbs">
              <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/image1.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>SIMPLE DECOR</p>
         <p>BRAND + VIDEO</p>
       </div>
     </figcaption>	
                 </a>		
   </figure>
           </div>
           
           <div class="thumbs">
             <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/image1.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>SIMPLE STYLE</p>
         <p>BRAND + PRINT + WEB</p>
       </div>
     </figcaption>	
                 </a>		
   </figure>
           </div>
            
       
      
      </div> <!-- /Masonry -->
  </div><!-- /row -->
</div><!-- /container -->



<div id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-right">
        <h1 class="home-heading wow fadeInUp animated">We have combined and dedicated experience at <span>bringing out the best in an atmosphere and we will work with you every step of the way</span></h1>
        <div class="text-home wow fadeInUp animated"><strong>Fun, Elegant, Simple</strong></div>

      </div>
    </div>
  </div>
</div>
</div>

</div>
<script src="{% static 'js/fixednavbar.js' %}"></script>
{% endblock %}