{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Intro -->
<div id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-right">
        <h1 class="home-heading wow fadeInUp animated">You can find an extensive collection of our work on instagram and facebook, <span>see a little taster below of how to spice up your event!</span></h1>

      </div>
    </div>
  </div>
</div>
<!-- /Intro -->

<div class="container">
  <div class="row">
    <div class="line-symbol"></div>
  </div>
</div>


 <!-- Masonry -->
 <div class="container grid">
  <div class="row">
  
      <div id="photos"> 
           <div class="thumbs">
            <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/gal1.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>FINE DETAILS </p>
         <p>BIRTHDAY BASH</p>
       </div>
     </figcaption>	
                 </a>		
   </figure>
           </div>
           <div class="thumbs">
              <div class="thumbs">
             <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/gal2.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>SMART</p>
         <p>FORMAL FUN</p>
       </div>
     </figcaption>	
                 </a>		
   </figure>
             </div>
           </div>
           <div class="thumbs">
             <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/gal3.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>BRIGHT</p>
         <p>BUBBLY FLOW</p>
       </div>
     </figcaption>
                 </a>	
   </figure>
           </div>
          <div class="thumbs"> 
              <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/gal4.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>ELEGANT </p>
         <p>SUBTLE ACCENT</p>
       </div>
     </figcaption>	
                 </a>		
   </figure>
           </div>
           <div class="thumbs">
              <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/party1.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>PERKY</p>
         <p>SMALL TREATS</p>
       </div>
     </figcaption>	
                 </a>		
   </figure>
           </div>
           
           <div class="thumbs">
             <figure class="effect-julia">
                <a href='https://www.instagram.com/theivorywallcompany/' target='_blank'>
     <img src='{% static "images/birthday1.jpg" %}' alt="img21"/>
     <figcaption>
       <div>
         <p>ICONIC</p>
         <p>DAYS TO REMEMBER</p>
       </div>
     </figcaption>	
                 </a>		
   </figure>
           </div>
            
       
      
      </div> <!-- /Masonry -->
  </div><!-- /row -->
</div><!-- /container -->



<div id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-right">
        <h1 class="home-heading wow fadeInUp animated">We have combined and dedicated experience at <span>bringing out the best in an atmosphere and we will work with you every step of the way</span></h1>
        <div class="text-home wow fadeInUp animated"><strong>Fun, Elegant, Simple</strong></div>

      </div>
    </div>
  </div>
</div>
</div>

</div>
<script src="{% static 'js/fixednavbar.js' %}"></script>
{% endblock %}