{% extends 'base.html' %}

{% block content %}
{% load static %}


<!-- Intro -->
<div id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-right">
        <h1 class="home-heading wow fadeInUp animated">No matter what the event, we help you find the right ivory flower wall that is <span>perfect for every occasion </span></h1>
        <div class="text-home wow fadeInUp animated"><strong>Simple, Beautiful</strong></div>

      </div>
    </div>
  </div>
</div>
<!-- /Intro -->


<!-- Main Banner -->
<div class="container">
  <div class="row">
    <div class="banner">
      <div class="vertical-text"><a href="">Simplicity is the key</a></div>
      <img src="{% static 'images/bottle.jpg' %}" alt="" />
    </div>
  </div>
</div>
<!-- /Main Banner -->


<div class="container">
  <div class="row">
    <div class="line-symbol"></div>
  </div>
</div>


<!-- Project description -->
<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-5 studio-margin wow fadeInUp animated">
      <h2 class="projectd-heading">A WARM WELCOME
        <span>who we are</span>
        <img src="images/hand1.png" alt="" />
      </h2>
    </div>
    <div class="col-md-7 col-sm-7 projectd-margin">
      <p class="text-projectd"> We understand that capturing the best photos and setting the right mood for your event is always a priority. Valuable photos with family and friends are timeless and so we build custom flower walls to work with your theme and deliver directly to the event within a matter of days. You never have to worry about getting great photos in great settings ever again.
      </p>
      <p class="text-projectd">The Classic Ivory Wall is perfect for every occasion. This 3D effect wall gives you that beautiful back drop for photos on your special day. If you have an enquiry please contact us. 
        <br/> <br />Love, Aimee & Sophie xxx <br /> The Ivory Wall Company.
      </p>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="line-symbol"></div>
  </div>
</div>

<!-- Intro -->
<div id="home-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-right">
        <h1 class="home-heading wow fadeInUp animated">We work with you to understand your event and<span>tailor our products to suit all your needs</span></h1>
        <div class="text-home wow fadeInUp animated"><strong>All you need to do is ask.</strong></div>

      </div>
    </div>
  </div>
</div>
<!-- /Intro -->

{% endblock %}