{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="page-container">
  <div class="main-banner">

  </div>
  <div class="info-section">
    <h2 class="info-header">The finest flower walls to hire in Essex</h2>
    <p class="info-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima necessitatibus veritatis nihil sit excepturi
      sequi inventore nemo enim, sapiente, amet libero harum perspiciatis magnam perferendis. Tenetur nesciunt
      consequuntur perspiciatis quaerat.</p>
      <br />
      <p class="info-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima necessitatibus veritatis nihil sit excepturi
        sequi inventore nemo enim, sapiente, amet libero harum perspiciatis magnam perferendis. Tenetur nesciunt
        consequuntur perspiciatis quaerat.</p>
  </div>

  <div class="break"></div>

  <div class="info-section">
    <h2 class="info-header">The finest flower walls to hire in Essex</h2>
    <div class="flex-profiles">
      <div class="flex-profiles-item">
        <img class="profile-img" src="{% static 'images/ivory.jpg' %}" alt="aimee" />
        <p class="profile-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, pariatur. Iste doloribus officiis nisi illum, sequi perspiciatis officia cumque, asperiores modi sint neque voluptatibus et nobis sapiente.</p>
      </div>
      <div class="flex-profiles-item">
        <img class="profile-img" src="{% static 'images/ivory.jpg' %}" alt="aimee" />
        <p class="profile-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, pariatur. Iste doloribus officiis nisi illum, sequi perspiciatis officia cumque, asperiores modi sint neque voluptatibus et nobis sapiente.</p>
      </div>
    </div>
  </div>

  <div class="break-large">
    <a href="{% url 'products' %}">See our work</a>
  </div>
</div>
{% endblock %}