{% extends 'base.html' %}

{% block content %}

<div class="product-page-container">
<!-- ITEM ONE -->
<div class='product-container'>
  <img src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1591820610/2_2018-Fox-Network-Upfront_g8jxwy.jpg'
    class="product-item-img" />
  <div class="product-item-text">
    <h2>Weddings</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae sequi tempore temporibus, voluptates
      assumenda quasi molestias magni explicabo, eveniet fuga corporis, itaque vitae dolorem! Alias placeat obcaecati a
      necessitatibus!</p>
  </div>
</div>


<!-- ITEM TWO - DESKTOP VERSION -->
<div class='product-container' id="desktop-version">
  
  <div class="product-item-text" >
    <h2>Weddings</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae sequi tempore temporibus, voluptates
      assumenda quasi molestias magni explicabo, eveniet fuga corporis, itaque vitae dolorem! Alias placeat obcaecati a
      necessitatibus!</p>
  </div>
  <img src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1591820610/2_2018-Fox-Network-Upfront_g8jxwy.jpg'
    class="product-item-img" />
</div>

<!-- ITEM TWO - MOBILE VERSION -->
<div class='product-container' id="mobile-version">
  <img src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1591820610/2_2018-Fox-Network-Upfront_g8jxwy.jpg'
    class="product-item-img" />
  <div class="product-item-text">
    <h2>Weddings</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae sequi tempore temporibus, voluptates
      assumenda quasi molestias magni explicabo, eveniet fuga corporis, itaque vitae dolorem! Alias placeat obcaecati a
      necessitatibus!</p>
  </div>
</div>


<!-- ITEM 3 -->
<div class='product-container'>
  <img src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1591820610/2_2018-Fox-Network-Upfront_g8jxwy.jpg'
    class="product-item-img" />
  <div class="product-item-text">
    <h2>Weddings</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae sequi tempore temporibus, voluptates
      assumenda quasi molestias magni explicabo, eveniet fuga corporis, itaque vitae dolorem! Alias placeat obcaecati a
      necessitatibus!</p>
  </div>
</div>

</div>
{% endblock %}