{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="product-page-container">
<!-- ITEM ONE -->
<div class='product-container'>
  <img src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1589273183/sample.jpg'
    class="product-item-img" />
  <div class="product-item-text">
    <img class="product-section-decoration" src="{% static 'images/flowerLayer.png' %}" alt="flower image" />
    <h2 class="product-section-header">Weddings</h2>
    <h3 class="product-section-subheader">No Hassle</h3>
    <hr class="header-line" />
    <p class="product-section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae sequi tempore temporibus, voluptates
      assumenda quasi molestias magni explicabo, eveniet fuga corporis, itaque vitae dolorem! Alias placeat obcaecati a
      necessitatibus!</p>
  </div>
</div>


<!-- ITEM TWO - DESKTOP VERSION -->
<div class='product-container' id="desktop-version">
  
  <div class="product-item-text">
    <img class="product-section-decoration" src="{% static 'images/flowerLayer.png' %}" alt="flower image" />
    <h2 class="product-section-header">Weddings</h2>
    <h3 class="product-section-subheader">No Hassle</h3>
    <hr class="header-line" />
    <p class="product-section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae sequi tempore temporibus, voluptates
      assumenda quasi molestias magni explicabo, eveniet fuga corporis, itaque vitae dolorem! Alias placeat obcaecati a
      necessitatibus!</p>
  </div>
  <img src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1589273183/sample.jpg'
    class="product-item-img" />
</div>

<!-- ITEM TWO - MOBILE VERSION -->
<div class='product-container' id="mobile-version">
  <img src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1589273183/sample.jpg'
    class="product-item-img" />
    <div class="product-item-text">
      <img class="product-section-decoration" src="{% static 'images/flowerLayer.png' %}" alt="flower image" />
      <h2 class="product-section-header">Weddings</h2>
      <h3 class="product-section-subheader">No Hassle</h3>
      <hr class="header-line" />
      <p class="product-section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae sequi tempore temporibus, voluptates
        assumenda quasi molestias magni explicabo, eveniet fuga corporis, itaque vitae dolorem! Alias placeat obcaecati a
        necessitatibus!</p>
    </div>
</div>


<!-- ITEM 3 -->
<div class='product-container'>
  <img src='https://res.cloudinary.com/dy7eycl8m/image/upload/v1589273183/sample.jpg'
    class="product-item-img" />
  <div class="product-item-text">
    <img class="product-section-decoration" src="{% static 'images/flowerLayer.png' %}" alt="flower image" />
    <h2 class="product-section-header">Weddings</h2>
    <h3 class="product-section-subheader">No Hassle</h3>
    <hr class="header-line" />
    <p class="product-section-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio recusandae sequi tempore temporibus, voluptates
      assumenda quasi molestias magni explicabo, eveniet fuga corporis, itaque vitae dolorem! Alias placeat obcaecati a
      necessitatibus!</p>
  </div>
</div>

</div>
<script src="{% static 'js/fixednavbar.js' %}"></script>
{% endblock %}