{% extends 'base.html' %}

{% block content %}
{% load static %}


<!-- Intro -->
<div id="home-section2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-right">
        <h1 class="home-heading wow fadeInUp animated">Our product range will cover all your event needs in a stylish fashion with prompt delivery <span>Every event will look fabulous</span></h1>
        <div class="text-home wow fadeInUp animated"><strong>Bespoke, Fast</strong></div>

      </div>
    </div>
  </div>
</div>
<!-- /Intro -->


<!-- Project images -->
<div class="container">
  <div class="row">
    <div class="line-symbol2"></div>
    <div class="col-md-6 thumbs wow fadeInUp animated"><img src="{% static 'images/wedding1.jpg' %}" class="image-project"
        alt="" />
    </div>
    <div class="col-md-6 image-project1 thumbs"><img src="{% static 'images/wedding2.jpg' %}" alt="" /></div>
  </div>
</div>

<div class="inner-projects2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-right wow fadeInUp animated">
        <h1 class="inner-projects-heading"><span>Infuse beauty and life into your wedding</span> day and receptions. </h1>
                    
      </div>
    </div>
  </div>
</div>

<!-- Project images -->
<div class="container">
  <div class="row">
    <div class="line-symbol2"></div>
    <div class="col-md-6 thumbs wow fadeInUp animated"><img src="{% static 'images/party1.jpg' %}" class="image-project"
        alt="" />
    </div>
    <div class="col-md-6 image-project1 thumbs"><img src="{% static 'images/party2.jpg' %}" alt="" /></div>
  </div>
</div>

<div class="inner-projects2">
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-right wow fadeInUp animated">
        <h1 class="inner-projects-heading"><span>Give your guests a fun atmosphere to celebrate</span> and share great memories together in </h1>
                    
      </div>
    </div>
  </div>
</div>

<!-- Project images -->
<div class="container">
  <div class="row">
    <div class="line-symbol2"></div>
    <div class="col-md-6 thumbs wow fadeInUp animated"><img src="{% static 'images/birthday1.jpg' %}" class="image-project"
        alt="" />
    </div>
    <div class="col-md-6 image-project1 thumbs"><img src="{% static 'images/birthday2.jpg' %}" alt="" /></div>
  </div>
</div>

<div class="inner-projects2" id='margin-bottom'>
  <div class="container">
    <div class="row">
      <div class="col-md-8 pull-right wow fadeInUp animated">
        <h1 class="inner-projects-heading"><span>Flowers and nature symbolize birth and beauty,</span> welcoming in new years of life </h1>
                    
      </div>
    </div>
  </div>
</div>

{% endblock %}