.about-container {
  display: block;
  height: 100%;
  background-image: url('../images/test.png');
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-top: -20px ;
  padding-top: 100px;
}

.about-flex-banner {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 80%;
  margin: 20px auto;
}

.about-flex-item {
  width: 500px;
  margin: 10px;
  padding: 10px;
}

.about-main-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

.product-item-text {
  width: 100%;
  min-width: 200px;
  /* background-color: white; */
  padding: 30px 60px;
}

.about-details-flex {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(63, 37, 75);
  padding: 10px;
  color: white;
}

.details-flex-item {
  width: 250px;
  text-align: center;
  margin: 5px;
}

.detail-img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.detail-title {
  font-size: 2.5rem;
}

.detail-line {
  width: 70%;
}

.detail-text {
  font-size: 2rem;
}

.about-intro {
padding: 3rem;
}

.covered-locations {
  text-align: center;
  padding: 50px;
}

.location-line {
  width: 20%;
}

.location-map {
  height: 500px;
}

.about-footer-area {
  padding: 130px;
  text-align: center;
}

.margin-deep {
  padding-top: 150px;
}

.about-break-section {
  height: 50px;
  background-color: rgb(63, 37, 75);
}

@media only screen and (max-width: 1000px) {
  .about-flex-item {
    width: 300px;
    margin: 5px;
    padding: 5px;
  }
  .about-main-img {
    width: 300px;
    height: 300px;
  }
  }