.gallery-container {
  display: block;
  background-image: url('../images/test.png');
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  padding-top: 100px;
}

.gallery-header-section {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  margin-bottom: 4rem;
}


.gallery-img {
  width: 300px;
}

.gallery-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 50%;
}

.gallery-flex-item {
  height: 200px;
  width: 200px;
  margin: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 200px;
  border-radius: 50%;
}

@media only screen and (max-width: 1000px) { 
  .gallery-flex {
    width: 80%;
  }
}