.page-container {
background-image: url('../images/Gold_Coast_Flower_Darling03.png');
background-size: contain;
background-attachment: fixed;
}

.main-banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 150px;
}

.banner-item-main {
  border-radius: 50%;
  height: 300px;
}

.info-section {
  padding: 50px 300px;
  background-color: white;
  text-align: center;
}

.break {
  height: 200px;
}

.break-large {
  padding: 130px;
  text-align: center;
}

.flex-profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.flex-profiles-item {
  width: 40%;
  margin: 10px;
  min-width: 350px;
}

.profile-img {
  width: 250px;
}

.info-header {
  font-size: 3rem;
}

.info-text {
  font-size: 1.5rem;
}

.profile-text {
  font-size: 1.5rem;
}