html {
  font-size: 10px;
  color: rgb(43, 42, 42);
  background-image: url("https://www.transparenttextures.com/patterns/sandpaper.png");
}

body {
  background: transparent;
  border: 20px #669999 solid;
  -webkit-font-smoothing: antialiased;
}

.footer-main {
  text-align: center;
  padding: 10px;
  background-color: white;
}

.popup-message {
  display: none;
  position: fixed;
  height: 200vh;
  width: 100vw;
  background-color: rgba(238, 238, 238, 0.932);
  background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
  transition: all 3s ease;
}

.form-area {
  text-align: center;
  padding: 200px;
  padding-top: 120px;
}

.form-header {
  font-size: 4rem;
}

.form-subheader {
  font-size: 2rem;
  margin: 2rem;
  margin-top: 1.5rem;
}

.deco-line-style {
  margin: 1rem auto;
  border: solid 1px rgb(171, 119, 206);
}

.deco-line-style-2 {
  margin: 1rem auto;
  border: solid 1px white;
}

input {
  width: 300px;
  height: 40px;
  border-radius: 0.5rem;
  border: grey 1px solid;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
}

textarea {
  width: 300px;
  height: 100px;
  border-radius: 0.5rem;
  border: grey 1px solid;
  margin: 1rem;
  padding: 0.5rem;
}

.form-submit {
  width: 150px;
  padding: 15px;
  border-radius: 20px;
  border: solid 3px rgba(179, 109, 179, 0.329);
  color: rgb(122, 78, 122);
  transition: all 0.5s ease;
}

.form-submit:hover {
  width: 150px;
  padding: 15px;
  border-radius: 20px;
  background-color:  rgba(179, 109, 179, 0.329);
  color: white;
cursor: pointer;
}

#message-exit {
  position: fixed;
  right: 35px;
  font-size: 4rem;
  top: 55px;
}

#message-exit:hover {
  cursor: pointer;
}


.r-header {
  font-size: 3rem;
}

.r-subheader {
  font-size: 1.5rem;
}